# Database
DATABASE_URL="file:./prisma/dev.db"

# NextAuth
NEXTAUTH_SECRET="generate-a-random-secret-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Optional: Production environment variables
# DATABASE_URL="postgresql://user:password@host:port/database"
# NEXTAUTH_URL="https://yourdomain.com"
